extends layout

block scripts
  script(src="/javascripts/comment.js")

block content
  h1= title
  p Welcome to #{title}
  input(type='text' id='commentbox')
  input(type='button' id='submitbutton' value='Submit')