extends layout

block scripts
  script(src="/javascripts/comment.js")

block content
  h1= title
  p Welcome to #{title}
  input(type='text' id='commentbox')
  input(type='button' id='submitbutton' value='Submit')
  div(id='tablediv')
    table(style="width:100%")
      tr
        th(style="width:10%") User
        th Comment
      tr
        td asd
        td Hey
      tr
        td dsa
        td Lalalalalal