extends layout

block scripts
  script(src="/javascripts/moderate.js")

block content
  h1= title
  p Welcome to #{title}
  div(id='tablediv')
    table(style="width:100%")
      tr
        th(style="width:10%") User
        th Comment
        th(style="width:10%") Approval
      tr
        td asd
        td Hey
        td yes/no
      tr
        td dsa
        td Lalalalalal
        td yes/no